// layout colors
$background: #f2f2f2;

// component styles
$container-color: white;
$box-shadow-color: rgba(0, 0, 0, 0.1);
$border-bottom-color: #f2f2f2;
$row-hover-color: rgba(185, 185, 185, 0.1);

// button colors
$success-color: #a5d0a2;
$danger-color: #ffc0c1;

// text colors
$text-light: lightgrey;
